<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark">

  <div class="container text-light border border-0 rounded-3 mt-4 pb-2 shadow" style="background-color: #394148;">
    <h1 class="mt-3">Cache service</h1>

    <p class="lead">
      A Go microservice to cache JSON response from Third-party APIs.
    </p>
    <hr class="bg-light">

    <p>We may at times prefer to cache JSON response we get from a third-party API. A few reasons we may want to do this are: </p>
    <ul>
      <li>Avoid hitting API rate-limit</li>
      <li>Slow response time from third-party API</li>
      <li>Results is aggregation of multiple third-party API calls</li>
      <li>Reduce total number of HTTP requests to fulfill a user query</li>
    </ul>

    <h4>GitHub</h4>
    <p>To demonstrate the service in action we are caching JSON responses we get from <a href="https://docs.github.com/en/rest/overview" target="_blank">GitHub REST API</a> for below repositories:</p>
    <ul>
      {{range .}}
        <li><a href="/github/{{.}}" style="color: #789ec8;" target="_blank">{{.}}</a></li>
      {{end}}
    </ul>
    <p><small>If response is not cached or has expired the response would be slow. After the first hit the data should be cache and subsequent query should be fast.</small></p>

    <hr class="bg-light">
    <p class="small">If you would like to test the response times of <mark>cached</mark> vs <mark>non-cached</mark> requests you can <a href="/clear-cache" class="btn btn-sm btn-outline-secondary" target="_blank" style="padding: .10rem .2rem;">Clear Cache</a></p>
  </div>

</body>
</html>

